body
{
background-color: #EAF6F6;
}
h1
{
color: #2541b2;
}
h3
{
color: #2541b2;
}
hr
 {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
